{{ partial "header.html" . }}
<main>
    <article class="main-article">
        <h1>{{ .Title }}</h1>
        <aside id="main-article-meta">
            <div class="level">
                {{ if .Params.author }}<div class="level-item"><img src="{{ "img/icons/meta/user.svg" | absURL }}"> <span class="meta-author">{{ .Params.author }}</span></div>{{ end }}
                <div class="level-item"><img src="{{ "img/icons/meta/calendar.svg" | absURL }}"> <span class="meta-date"><time>{{ .Date.Format "2006-01-02 15:04" }}</time></span></div>
                {{ if .Params.Kategorien }}
                <div class="level-item"><img src="{{ "img/icons/meta/bookmark.svg" | absURL }}"> <span class="meta-categories">{{ range .Params.Kategorien }}<span class="a-tag"><a href="{{ "/kategorien/" | relLangURL }}{{ . | urlize }}">{{ safeHTML . }}</a></span>{{ end }}</span></div>
                {{ end }}
            </div>
        </aside>

        {{ if .Params.featuredImage }}<img id="main-article-featured-img" class="image" src="{{ partial "hack/featured_image.html" $ }}" alt="{{ .Title }}"> {{ end }}

        <div id="main-article-content" class="content">
            {{ .Content }}

            {{ with .Params.recipe }}
            <div id="main-article-recipe" itemscope itemtype="https://schema.org/Recipe">
                {{ if $.Params.featuredImage }}<img id="main-article-recipe-img" class="image" itemprop="image" src="
                    {{- if $.Site.Params.useCdn -}}
    {{- delimit (slice $.Site.Params.cdnBaseUrl "/thumb/" $.Params.featuredImage) "" -}}
                {{- else -}}
                {{- delimit (slice $.Site.Params.s3BaseUrl "/thumb/" $.Params.featuredImage) "" -}}
                {{- end -}}
                " alt="{{ .Title }}"> {{ end }}
                <h2 id="main-recipe-title" itemprop="name">Rezept zu „{{ $.Title }}“</h2>
                {{ with $.Params.author }}<meta itemprop="author" content="{{ . }}">{{ end }}
                <meta itemprop="description" content="{{ if $.Description }}{{ $.Description }}{{ else }}{{if $.IsPage }}{{ $.Summary }}{{ end }}{{ end }}">
                <div class="clearfix"></div>
                <h3>Zutaten</h3>
                {{ range .ingredients }}
                {{ if gt ($.Params.recipe.ingredients | len) 1 }}
                <h4>{{ .name }}</h4>
                {{ end }}
                <ul>
                    {{ range .contents -}}
                    <li class="recipe-ingredient" itemprop="recipeIngredient">
                        {{- if .value -}}<span class="recipe-ingredient-value">{{ .value }}</span> {{ end -}}
                        {{- if .unit -}}<span class="recipe-ingredient-unit">{{ .unit }}</span> {{ end -}}
                        {{- if .name -}}<span class="recipe-ingredient-name">{{ .name }}</span> {{ end -}}
                        {{- if .note -}}<span class="recipe-ingredient-note">{{ .note }}</span> {{ end -}}
                    </li>
                    {{- end }}
                </ul>
                {{- end -}}
                <h3>Anleitung</h3>
                {{ range .steps }}
                {{ if gt ($.Params.recipe.steps | len) 1 }}
                <h4>{{ .name }}</h4>
                {{ end }}
                <ol>
                    {{ range .contents -}}
                    <li class="recipe-step" itemprop="recipeInstructions">
                        <p class="recipe-step-text">{{ .text }}
                            {{ if .photo -}}<br><img src="
{{- if $.Site.Params.useCdn -}}
    {{- delimit (slice $.Site.Params.cdnBaseUrl "/medium/" .photo) "" -}}
                            {{- else -}}
                            {{- delimit (slice $.Site.Params.s3BaseUrl "/medium/" .photo) "" -}}
                            {{- end -}}
                            " alt="{{ .text }}">{{- end -}}
                        </p>
                    </li>
                    {{- end }}
                </ol>
                {{- end -}}

                {{ with .notes }}
                <h3>Rezepthinweise</h3>
                {{ if .photo }}<img id="main-article-recipe-note-img" src="
{{- if $.Site.Params.useCdn -}}
    {{- delimit (slice $.Site.Params.cdnBaseUrl "/medium/" .photo) "" -}}
                {{- else -}}
                {{- delimit (slice $.Site.Params.s3BaseUrl "/medium/" .photo) "" -}}
                {{- end -}}
                " alt="{{ .text }}">{{ end }}
                <p>{{ safeHTML .text }}</p>
                {{ end }}
            </div>
            {{ end }}
        </div>
        
        <div id="comments"><h2>Kommentare</h2></div>
        <div id="add-comment">
            <h2>Kommentar verfassen</h2>
            <form id="comment-form">
                <input class="input" type="text" id="new-comment-author" placeholder="Name">
                <textarea class="textarea" id="new-comment-body" placeholder="Kommentar"></textarea>
                <button id="submit-comment" class="button" style="float:right;">Absenden</button>
            </form>
            <div class="clearfix"></div>
        </div>

        <div id="main-article-after">
            <div id="main-article-tags">
                {{- if .Params.Tags }}
                {{- range .Params.Tags }}
                <a class="tag tag-tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
                {{- end }}
                {{- end }}
            </div>
            <div id="main-article-next-post">
                {{ if .Next }}
                <div class="next-post-preview"{{ if .Next.Params.featuredimage }} style="background-image: url({{ partial "hack/featured_image.html" $.Next }});"{{- end -}}>
                <a href="{{ .Next.Permalink }}">
                    <div class="next-post-preview-content">
                        <div style="font-size: 13px; font-family: 'Open Sans', Helvetica, sans-serif; color: #fff; width: 100%; border-top: 2px solid #fff; margin-top: 20px; padding-top: 5px; text-transform: uppercase">auch interessant:</div>
                        <h2 style="color: #fff;">{{ .Next.Title }}</h2>
                        <div style="color: #fff; font-size: 13px; font-weight: bold;-">
                            {{ if .Next.Description }}
                            {{ .Next.Description }}
                            {{ else }}
                            {{ .Next.Summary }}
                            {{ end }}
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
        </div>
    </article>
</main>
{{ partial "footer.html" . }}
