</div>
</section>
</section>
<footer id="footer">
    © 2013 – {{ now.Year }} kochfokus.de, ein Angebot von Gabriele Altpeter, Internet Marketing-Services
</footer>
</div>

{{ if and (.IsPage) (not .Params.static) }}
<script src="{{ "js/promise.min.js" | absURL }}"></script>
<script src="{{ "js/unfetch.umd.js" | absURL }}"></script>
<script>
      if(!window.Promise) window.Promise = Promise;
      if(!window.fetch) window.fetch = unfetch;
</script>
<script>
      const API_URL = "https://comments.kochfokus.de/api";
      const slug = document.location.pathname;
      
      window.onload = function() {
            document.getElementById("submit-comment").addEventListener("click", submitCommentForm);
            
            fetch(API_URL + "/get" + slug).then(function(response) { return response.json(); })
            .then(function(comments) {
                  var comment_list = document.getElementById("comments");
                  if(comments.length == 0) comment_list.innerHTML += "Noch keine Kommentare vorhanden.";
                  else {
                        var entry = document.createElement("div");
                        entry.className = "comment-entry";
                        comments.forEach(function(comment) {
                              new_entry = entry.cloneNode();
                              new_entry.innerHTML = '<p class="comment-meta">'
                                    + '<span class="comment-author">' + comment.name + '</span>' + ' <span class="comment-date">(' + new Date(comment.date).toLocaleString() + ')</span>'
                                    + '</p>'
                                    + '<p class="comment-body">' + comment.body + '</p>'
                                    + '</div>';
                              comment_list.appendChild(new_entry);
                        });
                  }
            });
      };
      
      function submitCommentForm(e) {
            e.preventDefault();
            var author = document.getElementById("new-comment-author").value;
            var body = document.getElementById("new-comment-body").value;
      
            if(!author || !body) {
                  alert("Fehler beim Absenden des Kommentars: Bitte alle Felder ausfüllen.");
                  return true;
            }
            
            fetch(API_URL + "/add", {
                  method: "post",
                  headers: {"Content-Type" : "application/json"},
                  body: JSON.stringify({
                        name: author,
                        body: body,
                        post: slug
                  })
            }).then(function() {
                  alert("Kommentar erfolgreich abgesendet. Der Kommentar wird erst angezeigt, wenn er von einem Administrator überprüft wurde.");
                  document.getElementById("new-comment-author").value = "";
                  document.getElementById("new-comment-body").value = "";
                  })
            .catch(function() { alert("Fehler beim Absenden des Kommentars. Bitte später erneut versuchen."); });
      }
</script>
{{ end }}
{{ if and (.IsPage) (eq .Type "search") }}
<script src="{{ "js/instantsearch.min.js" | absURL }}"></script>
<script>
      function aaSearchItem(suggestion) {
            return '<a href="' + suggestion.url +'">'
                  + (suggestion.image ? '<img class="aa-suggestion-image" src="' + suggestion.image + '">' : "")
                  + '<p class="aa-suggestion-title">' + suggestion._highlightResult.title.value + '</p>'
                  + (suggestion._highlightResult.description ? '<p class="aa-suggestion-excerpt">' + suggestion._highlightResult.description.value + '</p>' : '' )
                  + '</a><div class="clearfix"></div>';
      }

      var search = instantsearch({
            appId: "5NTEZN3YJ4",
            apiKey: "30e37e645a441b7815af7b41f3da7278",
            indexName: "posts",
            urlSync: true
      });
      search.addWidget(instantsearch.widgets.searchBox({container: "#aa-search-input"}));
      search.addWidget(instantsearch.widgets.infiniteHits({
            container: "#hits",
            hitsPerPage: 50,
            templates: {
                  item: aaSearchItem,
                  empty: "Leider keine Ergebnisse für '<em>\{\{query}}</em>' gefunden."
            },
            showMoreLabel: "Weitere Ergebnisse laden"
      }));
      search.start();
</script>
{{ end }}
</body>
</html>
