<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ .Title }}</title>

    <link rel="preconnect" href="https://img.kfcdn.de/">
    <link rel="preload" as="font" crossorigin type="font/woff2" href="{{ "fonts/open-sans-v14-latin-700.woff2" | absURL }}">
    <link rel="preload" as="font" crossorigin type="font/woff2" href="{{ "fonts/open-sans-v14-latin-700italic.woff2" | absURL }}">
    <link rel="preload" as="font" crossorigin type="font/woff2" href="{{ "fonts/open-sans-v14-latin-italic.woff2" | absURL }}">
    <link rel="preload" as="font" crossorigin type="font/woff2" href="{{ "fonts/open-sans-v14-latin-regular.woff2" | absURL }}">
    <link rel="preload" as="font" crossorigin type="font/woff2" href="{{ "fonts/oswald-v14-latin-300.woff2" | absURL }}">

    <style>{{ readFile "themes/topfdeckel/static/fonts/fonts.css" | safeCSS }}</style>
    <link rel="stylesheet" href="{{ "css/bulma.min.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
    {{ if .Site.RSSLink -}}
        <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .Site.RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{- end }}
    {{ partial "head/meta.html" . }}
    {{ partial "head/favicons.html" . }}
</head>
<body>
<div id="wrapper" class="container">
    <header id="header" class="level">
        <div class="level-left">
            <div class="level-item"><a href="{{ "" | absURL }}"><img class="logo" src="{{ "img/logo.svg" | absURL }}" alt="kochfokus.de logo"></a></div>
        </div>
        <div id="social-icons" class="level-right is-hidden-mobile">
            <div class="level-item"><a href="https://www.facebook.com/kochfokusDE/" target="_blank"><img src="{{ "img/icons/social/facebook.svg" | absURL }}" alt="kochfokus.de auf Facebook folgen"></a></div>
            <div class="level-item"><a href="https://twitter.com/kochfokusDE/" target="_blank"><img src="{{ "img/icons/social/twitter.svg" | absURL }}" alt="kochfokus.de auf Twitter folgen"></a></div>
            <div class="level-item"><a href="https://instagram.com/kochfokus/" target="_blank"><img src="{{ "img/icons/social/instagram.svg" | absURL }}" alt="kochfokus.de auf Instagram folgen"></a></div>
            <div class="level-item"><a href="https://www.pinterest.com/kochfokus/" target="_blank"><img src="{{ "img/icons/social/pinterest.svg" | absURL }}" alt="kochfokus.de auf Pinterest folgen"></a></div>
            <div class="level-item"><a href="https://www.youtube.com/user/kochfokusTV/" target="_blank"><img src="{{ "img/icons/social/youtube.svg" | absURL }}" alt="kochfokus.de auf YouTube folgen"></a></div>
        </div>
    </header>

    <nav class="level is-hidden-mobile">
        <div class="level-left">
            <ul>
                {{- $currentPage := . -}}
                {{- range .Site.Menus.main -}}
                    {{- if .HasChildren -}}
                        <li><a href="{{ .URL }}" class="level-item is-tab{{ if $currentPage.HasMenuCurrent "main" . }} is-active{{ end }}">{{ .Name }}</a>
                            <ul>
                                {{- range .Children -}}
                                    <li><a href="{{ .URL }}">{{ .Name }}</a>
                                        {{- if .HasChildren -}}
                                            <ul>
                                                {{- range .Children -}}
                                                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                                                {{- end -}}
                                            </ul>
                                        {{- end -}}
                                    </li>
                                {{- end -}}
                            </ul>
                        </li>
                    {{- else -}}
                        <li><a href="{{ .URL }}" class="level-item is-tab{{ if $currentPage.HasMenuCurrent "main" . }} is-active{{ end }}">{{ .Name }}</a></li>
                    {{- end -}}
                {{- end -}}
            </ul>
        </div>
    </nav>

    <section id="main-content" class="columns">
        {{ partial "sidebar.html" . }}

        <section class="column is-three-quarters">
            <div id="articles">
