<aside id="sidebar" class="column is-one-quarter is-hidden-mobile">
    <div class="widget">
        <input class="input" type="text" placeholder="Suchen…">
    </div>
    <div class="widget">
        <img src="{{ "img/welcome.jpg" | absURL }}" alt="Gabi heißt Dich herzlich bei kochfokus.de willkommen!">
        <p>Hallo und willkommen bei kochfokus.de! Schön, dass Du hier vorbeischaust. Mach es Dir gemütlich und sieh Dich in Ruhe um. Wenn Du mehr über mich erfahren willst, dann klick einfach <a>hier</a>.</p>
    </div>
</aside>
